@charset "UTF-8";
/*@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@461&family=Irish+Grover&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@461&family=Irish+Grover&family=Roboto:wght@400&display=swap');



/* Formatação GERAL*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f2d7b69c;

}

header {
    width: 100%;
    height: 80px;

    background-color: #f2d7b6fd;
    
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

    padding: 10px 20px 10px 20px;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

ul {
    list-style: none;
}

.menu {
    display: flex;
    font-size: 1.1em;

}

.menu li a {
    color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.315);
    display: block;
    text-decoration: none;
    margin-left: 10px;
    background-color: #bc925e7e;
    border: 1px solid #886336;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
}

.menu li a:hover {
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #a05c21ad;
    transition: all 0.4s ease-in-out;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #ccc;
}

main {
    min-width: 300px;
    max-width: 850px;
    margin: auto;
    background-image: linear-gradient(90deg,#BC915E, #ba8c58bb);
    padding: 30px 0px 20px 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 5px 5px;
}

h2 {
    /*color: #734217;*/
    color: white;
    background-color: #f2d7b6fd;
    border-radius: 5px;
    text-align: center;
    width: 280px;
    margin: 15px auto;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    flex: 350px;
    padding: 20px;
}

img {
    width: 100%;
    border-radius: 4px;
    border: 2px solid #F2D7B6;
    box-shadow: 1px 1px 2px #734217;
    
}

/* Sobre*/

img#arq {
    display: block;
    width: 280px;
    border: 5px solid white;
    margin: 20px auto 20px auto;
}

 .p-padrao {
    text-align: justify;
    text-indent: 20px;
    background-color: white;
    width: 50%;
    max-width: 500px;
    min-width: 280px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px;
    line-height: 1.4em;
}

.sombra {
    box-shadow: 1px 1px 2px #734217;
}

footer {
    max-width: 100%;
    margin-top: 50px;
    background-color: #734217;
    text-align: center;
    padding: 5px;
}

footer > p {
    color: white ;
}

footer > p > a  {
    color: whitesmoke;
    font-weight: bolder;
    text-decoration: none;
}

footer > p > :hover {
    text-decoration: underline;
}